{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <section id="top_banner">
        <div class="banner">
            <div class="inner text-center">
                <h2></h2>
            </div>
        </div>
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Quiénes Somos</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Inicio<span class="sep"> 	/ </span><span class="current"> Quiénes Somos</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2>Acerca de <span>Nosotros</span></h2>
                        <p class="subheading">Tu Espacio Muebles</p>
                    </div>
                    <p>
                        Hemos dedicado nuestra vida a los muebles. Con más de 30 años de experiencia, te ofrecemos todo tipo de Muebles,
                        Cocinas Americanas, Baños Exclusivos y mucho más. No dudes en consultar nuestro catálogo.


                    </p>
                    <button type="button" class="btn btn-primary slide">Leer más <i class="fa fa-caret-right"></i></button>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="img/iphone62.png" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>



    <section id="skills">
        <div class="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                        <div class="section-heading text-center">
                            <h2>Nuestras <span>Habilidades</span></h2>
                            <p class="subheading">Como empresa de muebles nos especialzamos en:</p>
                        </div>



                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-1">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">85%</div>

                                </div>
                                <div class="progress-title">
                                    <h5>Cocinas</h5>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-2">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">95%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Baños</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-3">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">85%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Dormitorios</h5>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-4">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">80%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Muebles a medida</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}