{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}



    <section id="features-page">
        <div class="subsection1">
            <div class="container">
                <div class="section-heading text-center">
                    <h1>Nuestra <span>Misión</span></h1>
                    <p class="subheading"></p>
                </div>
                <div class="col sm_12">
                    <div class="col-sm-4 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox iconbox-style icon-color card clearfix">
                                    <div class="face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <i class="fa fa-laptop boxicon"></i>
                                                        <h3>Calidad</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>Calidad</h3>
                                                        <p>En nuestra empresa queremos ofrecer la mejor calidad posible para el cliente.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox  iconbox-style icon-color card clearfix">
                                    <div class="iconbox-box1 face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <i class="fa fa-bullhorn boxicon"></i>
                                                        <h3>Los mejores precios</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>Precios Increíbles</h3>
                                                        <p>Cotiza por tu mueble o remodelaciones a interiores.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 wpb_colum block">
                        <div class="wpb_wrapper">
                            <div class="flip">
                                <div class="iconbox  iconbox-style icon-color card clearfix">
                                    <div class="iconbox-box1 face front">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <i class="fa fa-support boxicon"></i>
                                                        <h3>Soporte</h3>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="iconbox-box2 face back">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>Soporte</h3>
                                                        <p>Además podemos orientar tus ideas para que saques al máximo tu creatividad.</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="subsection2">
            <div class="container">
                <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                        <div class="wpb_wrapper">
                            <h3>El amor por el trabajo, <span>se refleja en cada mueble.</span></h3>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column block">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-lightbulb-o sl-layers boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>IDEA</h4>
                                    <p>Lleva a cabo tus ideas más locas y nosotros podemos orientarte.</p>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-magic sl-book-open boxicon"></i>
                                </div>
                                <div class="iconbox-content nomargin">
                                    <h4>DISEÑO</h4>
                                    <p>Nos comprometemos a otorgar lo que el cliente necesite.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 wpb_column">
                        <div class="wpb_wrapper">
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <!-- icon-color-greyscale -->
                                <div class="iconbox-icon">
                                    <i class="fa fa-calendar sl-badge boxicon"></i>
                                </div>
                                <div class="iconbox-content">
                                    <h4>Agenda</h4>
                                    <p>Agenda tu mueble con nosotros.</p>
                                </div>
                            </div>
                            <div class="spacer"></div>
                            <div class="iconbox iconbox-style-2 icon-color clearfix">
                                <div class="iconbox-icon">
                                    <i class="fa fa-commenting sl-check boxicon"></i>
                                </div>
                                <div class="iconbox-content nomargin">
                                    <h4>Contacto</h4>
                                    <p>Si tienes una duda, idea o quieres realizar una modificación, lo olvides en contactarnos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>






{% endblock %}