<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inicio</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'scss/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'scss/skin.css' %}">

    <script type="text/javascript" src="{%  static 'script/index.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


</head>
<body id="wrapper">


    <!-- TOP HEADER -->
    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+56 9 54102334</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">tuespaciomuebles@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </section>

    <!-- NavBar -->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
                        <a class="navbar-brand" href="#">
                            <img class="brand-logo" style="width: 320px; height: 70px;" src="{% static 'img/user1.png' %}">
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="index">Inicio</a></li>
                            <li><a href="mision">Misión y Visión</a></li>
                            <li><a href="about">¿Quiénes Somos?</a></li>
                            <li><a href="contact">Contactanos</a></li>
                            <li><a href="registrarse">Registrarse</a></li>
                            <li><a href="login">Iniciar Sesión</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>
    <!--/.nav-ends -->

    {% block content %}

    {% endblock %}

    <section id="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12 block">
                    <div class="footer-block">
                        <h4>Links de Utilidad</h4>
                        <hr/>
                        <ul class="footer-links">
                            <li><a href="about">Acerca de nosotros</a></li>
                            <li><a href="mision">Misión y Visión</a></li>
                            <li><a href="contact">Contactanos</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>


    </section>

    <section id="bottom-footer">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6 col-xs-12 copyright">
                    Desarrollado por <a href="#">CarMath</a>, diseñado por <a href="#">KeTa.</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Panel para cambiar colores -->

    <div id="panel">
        <div id="panel-admin">
            <div class="panel-admin-box">
                <div id="tootlbar_colors">
                    <button class="color" style="background-color:#1abac8;" onclick="mytheme(0)"></button>
                    <button class="color" style="background-color:#ff8a00;" onclick="mytheme(1)"> </button>
                    <button class="color" style="background-color:#b4de50;" onclick="mytheme(2)"> </button>
                    <button class="color" style="background-color:#e54e53;" onclick="mytheme(3)"> </button>
                    <button class="color" style="background-color:#1abc9c;" onclick="mytheme(4)"> </button>
                    <button class="color" style="background-color:#159eee;" onclick="mytheme(5)"> </button>
                </div>
            </div>

        </div>
        <a class="open" href="#"><span><i class="fa fa-gear fa-spin"></i></span></a>
    </div>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{%  static 'script/index.js' %}"></script>

    {% block javascript%}

    {% endblock%}
</body>
</html>