{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

        <!-- Section Form + JS OnClickRegistro(); -->
    <h2>Agregar Producto</h2>
    <br><br>
    <form action="agregar_producto" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="activo" value=1>
        <br><br>
        <label>Nombre del Producto   :</label><input type="text" name="nombre_producto"><br>
        <label>Precio:</label><input type="text" name="precio"><br>
        <label>Stock:</label><input type="text" name="stock"><br>

        <tr><td><label>Foto     :</label>
            <td><input type="file" name="foto">

        <input type="submit" name="modificar_producto" value="Agregar">
    </form>

{% endblock %}