{% extends "base.html" %}
{% load i18n %}
{% load static %}



{% block content %}
    <h2>Listado de Productos</h2>

    <table class="table table-striped table-hover table-responsive-sm">
        <tr>
            <th>Nombre Producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Foto</th>
            <th>Activo</th>
            <th>Opciones</th>
        </tr>

        {% for prod in producto %}

        <tr>
            <td>{{ prod.nombre_producto }}</td>
            <td>{{ prod.precio }}</td>
            <td>{{ prod.stock }}</td>
            <td>{{ prod.foto }}</td>
            <td>{{ prod.activo }}</td>
            <td>
                <a href="{% url 'eliminar_producto' prod.id_producto %}">Eliminar</a>
                <a href="{% url 'modificar_producto' prod.id_producto %}">Modificar</a>
            </td>

        </tr>

        {% endfor %}

    </table>

{% if messages %}
    {% for m in messages %}

    <div>{{ m }}</div>

    {% endfor %}


{% endif %}


{% endblock %}